{% extends'base.html'%}
    {% block title %}<title>Top Melons</title>{% endblock %}
{% block body %}  
    <h1>Welcome, {{ person }}! </h1>
    <!-- Create a div for every Most Loved Melon using a Jinja for-loop -->
    {%for melon in melon_list%}
    
    <div class="melon-div">
      <h3>{{person}}, this is a {{ melon_list[melon].name }}</h3>
      <h2>Loved {{melon_list[melon].num_loves}} times.</h2>
      <img class="img-border" src= {{melon_list[melon].img}}>
     
    
    </div>

    {%endfor%}

    <form action = "/love-melon" method="POST">
    <select name="Melon" action ="dropdown">

      {%for melon in melon_list%}
      <option value = "{{melon}}">{{ melon_list[melon].name }}</option>
      {%endfor%}

    </select>
    <input type="submit" value="Submit">

    </form>
{% endblock %}